<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class Room</title>
        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="author" content="Vũ Đình Bảo, Nguyễn Phi Khanh, Phạm Văn Tốt" />
        <meta
            name="keywords"
            content="find solution for problems, hitcan, hit challenge, kmin hitcan, kmin, Kmin, kmin.edu.vn, Cao Thang, Cao Thắng, code, lập trình, bài tập lập trình, hitcan kmin, học lập trình, học viện, máy tính, kmin, front-end, frontend, back-end, backend, mobile, học lập trình, học, lập trình, trung tâm, học viện kmin, hoc vien kmin, hoc vien khoa hoc may tinh, hoc lap trinh, lap trinh, viec lam, cv, thuc tap"
        />
        <meta
            name="description"
            content="Find Solution for Problems đưa ra các bài tập và hướng dẫn giải bài tập trực tuyến thông qua các bài giảng youtube"
        />
        <meta name="copyright" content="Kmin" />
        <meta name="distribution" content="Global" />
        <meta name="robots" content="index,flollow" />
        <meta name="revisit-after" content="3 days" />
        <link rel="canonical" href="http://hit.kmin.edu.vn/" />
        <meta property="og:title" content="Kmin Hit Challange | Tìm giải pháp cho các bài toán" />
        <meta
            property="og:description"
            content="Kmin Hit Challange đưa ra các bài tập và hướng dẫn giải bài tập trực tuyến thông qua các bài giảng youtube"
        />
        <meta property="og:locale" content="vi_VN" />
        <meta property="og:site_name" content="Kmin Hit Challenge" />
        <meta property="og:url" content="http://hit.kmin.edu.vn/" />
        <meta property="og:image" content="http://hit.kmin.edu.vn/img/logo_kmin.png" />
        <meta property="og:udpated_time" content="2020/01/12 00:00:00" />
        <meta property="article:modified_time" content="2020/01/12 00:00:00" />
        <meta property="article:published_time" content="2020/01/12 00:00:00" />

        <meta name="twitter:title" content="Kmin Hit Challange | Tìm giải pháp cho các bài toán" />
        <meta
            name="twitter:description"
            content="Kmin Hit Challange đưa ra các bài tập và hướng dẫn giải bài tập trực tuyến thông qua các bài giảng youtube"
        />
        <meta name="twitter:image" content="http://hit.kmin.edu.vn/img/logo_kmin.png" />
        <meta name="twitter:site_name" content="Kmin Hit Challenge" />
        <meta name="twitter:image:alt" content="Kmin Academy" />
        <meta name="twitter:card" content="summary_large_image" />

        <meta name="google-site-verification" content="zoG4Ut5Sey3Z-AiKAWoi6N86blPF2CvsL0wSKY1i9kA" />
        <!-- I love cat! Meow Meow #Nguyen Phi Khanh -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        />
        <link rel="stylesheet" href="/css/classroom_header.css" />
        <link rel="stylesheet" href="/css/classroom_body.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    </head>
    <body>
        <ul id="slide-out" class="sidenav side-open">
            <li>
                <div class="user-view ">
                    <div class="background blur">
                        <img
                            src="{{.Course.Image}}"
                            width="100%"
                            height="100%"
                        />
                    </div>
                    {{if .User.URLAvatar}}
                    <img src="{{.User.URLAvatar}}" class="circle responsive-img" alt="" />
                    {{else}}
                    <img src="/img/no-user.jpg" class="circle responsive-img" alt="" />
                    {{end}}
                    <h5 class="title-class-name">{{.Course.Name}}</h5>
                </div>
            </li>
            <li>
                <a href="/"><i class="material-icons">home</i>Trang chủ</a>
            </li>
            <li>
                <a href="/course"><i class="far fa-newspaper"></i> Lớp học</a>
            </li>
            <li><div class="divider"></div></li>
            <li>
                {{$course := .Course}}
                {{$chapter := .Chapter}}
                {{$idLesson := .Lesson.ID}}
                <script>
                    var stt = 1;
                </script>
                <ul class="collapsible collapse-menu">
                    {{range $i, $e := .Course.Chapters}} 
                    {{if eq $e.ID $chapter.ID}}
                    <li class="active">
                    {{else}}
                    <li>
                    {{end}}
                        <div class="collapsible-header" title="{{$e.Name}}"><span style="font-weight: bold">{{$e.Name}}<span></div>
                        <div class="collapsible-body">
                            <ul>
                                {{range .Lessons}}
                                {{if eq $idLesson .ID}}
                                <li class="active yellow darken-2" title="{{.Name}}">
                                {{else}}
                                <li title="{{.Name}}">
                                {{end}}
                                    <a href="/course/{{$course.SearchURL}}/{{$e.SearchURL}}/{{.SearchURL}}" class="sub-menu"><span style="font-weight: bold" class="number"></span> {{.Name}}</a>
                                    <script>
                                        document.getElementsByClassName("number")[stt - 1].innerHTML = stt + ".";
                                        stt++;
                                    </script>
                                </li>
                                {{end}}
                            </ul>
                        </div>
                    </li>
                    {{end}}
                </ul>
            </li>
        </ul>
        <main id="main" class="not-full">
            <div class="had-container">
                <div class="row">
                    <div class="col s12 main-header nav-wrapper">
                        <button
                            style="top: 75px;"
                            data-target="slide-out"
                            class="brand-logo sidenav-trigger waves-effect waves-light btn toggle-slide yellow darken-2"
                        >
                            <i class="material-icons scale-transition scale-out d-none" id="scale-menu-open">menu</i>
                            <i class="material-icons scale-transition scale-in d-block" id="scale-menu-close"
                                >arrow_back</i
                            >
                        </button>
                        {{if eq .Chapter.ID 0}}
                        <h1 class="title">Không có Chương nào!</h1>
                        {{else}}
                        <h1 class="title">{{.Chapter.Name}}: <span class="sub-title">{{.Lesson.Name}}</span></h1>
                        {{end}}
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            {{if eq .Chapter.ID 0}}
                            <div class="row p-5">
                                <div class="col s12 center">
                                    <h5 class="card-title"> Chưa có nội dung</h5>
                                </div>
                                <div class="col s12 center">
                                    <h4 class="card-title">Hãy Đăng ký ngay để nhận được những khóa học hấp dẫn tại Kmin</h4>
                                    <a href="https://kmin.edu.vn" class="btn btn-medium waves-effect waves-light yellow darken-2">
                                        Đăng ký
                                    </a>
                                </div>
                            </div>
                            {{else}}
                            <div class="card-stacked">
                                <div class="card-content">
                                    <ul class="tabs">
                                        <li class="tab col s6"><a class="active" href="#video">Video Bài Giảng</a></li>
                                        <li class="tab col s6"><a href="#document">Tài liệu & Bài tập</a></li>
                                    </ul>
                                </div>
                                <div class="card-action">
                                    <div id="video" class="owl-carousel">
                                    {{if .Lesson.Videos}}
                                        {{range .Lesson.Videos}}
                                        <div class="video-container">
                                            {{.Iframe}}
                                        </div>
                                        {{end}}
                                    {{else}}
                                        <div class="row">
                                            <div class="col s12 center p-5">
                                                <h5>Không có video nào cho bài học này</h5>
                                            </div>
                                        </div>
                                    {{end}}
                                    </div>
                                    <div id="document">
                                        <div class="row">
                                            {{if .Lesson.Docs}}
                                            {{range .Lesson.Docs}}
                                            <div class="col xl4 l4 m6 s12">
                                                <a
                                                    href="{{.Link}}"
                                                    class="btn-large waves-effect waves-dark black-text white button-document"
                                                >
                                                    <div class="content-button">
                                                        <i class="material-icons">insert_drive_file</i>
                                                        <p>{{.Name}}</p>
                                                    </div>
                                                </a>
                                            </div>
                                            {{end}}
                                            {{else}}
                                            <div class="col s12 center p-5">
                                                <h5>Không có tài liệu nào cho bài học này</h5>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    {{if ne .Course.ID 0}}
                    <div class="col s12">
                        <div class="card p-5 center">
                            {{if .SearchURLPrev}}
                            <a href="{{.SearchURLPrev}}" class="waves-effect waves-light btn yellow darken-2"
                                ><i class="material-icons left">arrow_back</i>Bài trước đó</a
                            >
                            {{else}}
                            <a href="#" class="waves-effect disabled waves-light btn yellow darken-2"
                                ><i class="material-icons left">arrow_back</i>Bài trước đó</a
                            >
                            {{end}}
                            {{if .SearchURLNext}}
                            <a href="{{.SearchURLNext}}" class="waves-effect waves-light btn yellow darken-2"
                                ><i class="material-icons right">arrow_forward</i>Bài kế tiếp</a
                            >
                            {{else}}
                            <a href="#" class="waves-effect disabled waves-light btn yellow darken-2"
                                ><i class="material-icons right">arrow_forward</i>Bài kế tiếp</a
                            >
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </main>
        <footer class="page-footer black">
            <div class="footer-copyright">
                <div class="container center">
                    <span>© 2019 </span>
                    <a href="https://www.kmin.edu.vn/" class="grey-text text-color-one-dev center"
                        >Học viện khoa học máy tính Kmin</a
                    >
                    |
                    <a class="grey-text text-color-five-dev center" href="/about">Nhóm phát triển</a>
                </div>
            </div>
        </footer>

        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Font Awesome JS -->
        <script
            defer
            src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"
        ></script>
        <script
            defer
            src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

        <script src="/js/classroom_header.js"></script>
        <script src="/js/classroom_body.js"></script>
    </body>
</html>
