<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="author" content="Vũ Đình Bảo, Nguyễn Phi Khanh, Phạm Văn Tốt" />
        <meta
            name="keywords"
            content="find solution for problems, hitcan, hit challenge, kmin hitcan, kmin, Kmin, kmin.edu.vn, Cao Thang, Cao Thắng, code, lập trình, bài tập lập trình, hitcan kmin, học lập trình,học viện, máy tính, kmin, front-end, frontend, back-end, backend, mobile, học lập trình, học, lập trình, trung tâm, học viện kmin, hoc vien kmin, hoc vien khoa hoc may tinh, hoc lap trinh, lap trinh, viec lam, cv, thuc tap"
        />
        <meta
            name="description"
            content="Find Solution for Problems đưa ra các bài tập và hướng dẫn giải bài tập trực tuyến thông qua các bài giảng youtube"
        />
        <meta name="copyright" content="Kmin" />
        <meta name="distribution" content="Global" />
        <meta name="robots" content="index,flollow" />
        <meta name="revisit-after" content="3 days" />
        <link
            rel="canonical"
            href="http://hit.kmin.edu.vn/detail_problem?id={{.Problem.ID}}&id_topic={{.IDTopic}}&id_challenge={{.IDChallenge}}&name_topic={{.NameTopic}}&name_challenge={{.NameChallenge}}"
        />
        <meta property="og:title" content="Kmin Hit Challange | {{.Problem.NameProblem}}" />
        <meta
            property="og:description"
            content="Kmin Hit Challange đưa ra các bài tập và hướng dẫn giải bài tập trực tuyến thông qua các bài giảng youtube"
        />
        <meta property="og:locale" content="vi_VN" />
        <meta property="og:site_name" content="Kmin Hit Challenge" />
        <meta
            property="og:url"
            content="http://hit.kmin.edu.vn/detail_problem?id={{.Problem.ID}}&id_topic={{.IDTopic}}&id_challenge={{.IDChallenge}}&name_topic={{.NameTopic}}&name_challenge={{.NameChallenge}}"
        />
        <meta property="og:image" content="http://hit.kmin.edu.vn/img/lcnnlt.jpg" />
        <meta property="og:udpated_time" content="2020/01/12 00:00:00" />
        <meta property="article:modified_time" content="2020/01/12 00:00:00" />
        <meta property="article:published_time" content="2020/01/12 00:00:00" />

        <meta name="twitter:title" content="Kmin Hit Challange | {{.Problem.NameProblem}}" />
        <meta
            name="twitter:description"
            content="Kmin Hit Challange đưa ra các bài tập và hướng dẫn giải bài tập trực tuyến thông qua các bài giảng youtube"
        />
        <meta name="twitter:image" content="http://hit.kmin.edu.vn/img/lcnnlt.jpg" />
        <meta name="twitter:site_name" content="Kmin Hit Challenge" />
        <meta name="twitter:image:alt" content="Kmin Academy" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="google-site-verification" content="zoG4Ut5Sey3Z-AiKAWoi6N86blPF2CvsL0wSKY1i9kA" />
        <!-- I love cat! Meow Meow #Nguyen Phi Khanh -->
        <title>Hit Challenge | {{.Problem.NameProblem}}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        />
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/detail.css" />
        <link rel="stylesheet" href="/css/init.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    </head>
    <!-- code này được viết bới Khanh đẹp trai, Tốt xấu trai và lên kế hoạch bởi Vũ Đình Bảo -->
    <!-- this code was coding by Khanh handsome, Tot ugly and planned by Vu Dinh Bao -->
    <body class="background-body">
        <div class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>

        <header class="navbar-fixed fixed">
            <nav>
                <div class="nav-wrapper white z-depth-3">
                    <a href="http://hit.kmin.edu.vn/" class="brand-logo logo-dev">
                        <img src="/img/logo_kmin.png" class="logo-navbar-dev" alt="kmin-edu-vn" />
                    </a>
                    <a href="#" data-target="mobile-site" class="sidenav-trigger"
                        ><i class="material-icons black-text">menu</i></a
                    >
                    <ul class="right hide-on-med-and-down">
                        <li id="home">
                            <a href="/" class="black-text"><i class="fas fa-home"></i> Trang chủ</a>
                        </li>
                        <li id="info">
                            <a href="/about" class="black-text"><i class="fas fa-info"></i>Giới thiệu</a>
                        </li>
                        <li id="registration">
                            <a href="#" class="black-text dropdown-trigger" data-target="dropdown1">
                                <i class="fas fa-user-circle"></i>tài khoản</a
                            >
                        </li>
                        <li id="write">
                            <a href="/course" class="black-text"><i class="far fa-newspaper"></i>Lớp học</a>
                        </li>
                        <li id="book">
                            <a href="https://www.kmin.edu.vn/doc" class="black-text"
                                ><i class="fas fa-book"></i>Tài liệu</a
                            >
                        </li>
                        <li id="even">
                            <a href="https://www.kmin.edu.vn/news/category?category=Mg%3d%3d&page=1" class="black-text"
                                ><i class="fas fa-calendar-alt"></i>Sự kiện</a
                            >
                        </li>
                    </ul>
                </div>
            </nav>
            {{if eq .User.ID 0}}
            <ul id="dropdown1" class="dropdown-content dropdown-top-nav">
                <li class="drop-hover">
                    <a href="/login" class="text-drop">Đăng nhập</a>
                </li>
                <li class="drop-hover">
                    <a href="/signup" class="text-drop">Đăng ký</a>
                </li>
            </ul>
            {{else}}
            <ul id="dropdown1" class="dropdown-content dropdown-top-nav center-align">
                {{if .User.URLAvatar}}
                <img src="{{.User.URLAvatar}}" class="circle responsive-img w-25" alt="" />
                {{else}}
                <img src="/img/no-user.jpg" class="circle responsive-img w-25" alt="" />
                {{end}}

                <li class="drop-hover">
                    <a href="/profile" class="text-drop">Thông tin cá nhân</a>
                </li>
                <li class="drop-hover">
                    <a href="#!" id="logout" class="text-drop">Đăng xuất</a>
                </li>
            </ul>
            {{end}}
            <ul class="sidenav" id="mobile-site">
                <li>
                    <a href="/" class="black-text"><i class="fas fa-home text-color-primary"></i> Trang chủ</a>
                </li>
                <li>
                    <a href="/about" class="black-text"><i class="fas fa-info text-color-primary"></i> Giới thiệu</a>
                </li>
                <li>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header collapse-dev">
                                <i class="fas fa-user-circle text-color-primary icon-account"></i>
                                tài khoản
                                <i class="material-icons">arrow_drop_down</i>
                            </div>
                            <div class="collapsible-body">
                                {{if eq .User.ID 0}}
                                <ul>
                                    <li>
                                        <a href="/login" class="collapsible-login">Đăng nhập</a>
                                    </li>
                                    <li>
                                        <a href="/signup" class="collapsible-login">Đăng ký</a>
                                    </li>
                                </ul>
                                {{else}}
                                <ul>
                                    <div class="left-align w-50" style="margin-left: 50px; padding-top: 10px;">
                                        {{if .User.URLAvatar}}
                                        <img src="{{.User.URLAvatar}}" class="circle responsive-img w-25" alt="" />
                                        {{else}}
                                        <img src="/img/no-user.jpg" class="circle responsive-img w-25" alt="" />
                                        {{end}}
                                    </div>
                                    <li>
                                        <a href="/profile" class="collapsible-login">Thông tin cá nhân</a>
                                    </li>
                                    <li>
                                        <a href="#!" id="logout-side" class="collapsible-login">Đăng xuất</a>
                                    </li>
                                </ul>
                                {{end}}
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/course" class="black-text"><i class="far fa-newspaper text-color-primary"></i> Lớp học</a>
                </li>
                <li>
                    <a href="https://www.kmin.edu.vn/doc" class="black-text"
                        ><i class="fas fa-book text-color-primary"></i> Tài liệu</a
                    >
                </li>
                <li>
                    <a href="https://www.kmin.edu.vn/news/category?category=Mg%3d%3d&page=1" class="black-text"
                        ><i class="fas fa-calendar-alt text-color-primary"></i>Sự kiện</a
                    >
                </li>
            </ul>
        </header>

        <section class="row mt-5">
            <div class="col m2 l2 hide-on-small-only"></div>
            <div class="col s12 m8 l8" style="min-height: 124px;">
                <div class="row">
                    <div class="col s12 breadcrumb-nav">
                        <a href="/" class="breadcrumb black-text">Home</a>
                        {{if .NameTopic}}
                        <a href="/topic?id={{.IDTopic}}" class="breadcrumb black-text">{{.NameTopic}}</a>
                        <a
                            href="/challenge?id={{.IDChallenge}}&name_topic={{.NameTopic}}&id_topic={{.IDTopic}}"
                            class="breadcrumb black-text"
                            >{{.NameChallenge}}</a
                        >
                        {{end}}
                        <a href="#!" class="breadcrumb grey-text darken-3 disabled">{{.Problem.NameProblem}}</a>
                    </div>
                </div>
                <form action="/search_result" method="GET" class="search-dev">
                    <button type="submit" class="btn btn-small waves-effect waves-light red button-search-dev">
                        <i class="material-icons">search</i>
                    </button>
                    <input type="text" placeholder="Tìm kiếm bài tập" class="search-input-dev" name="keyword" />
                </form>
            </div>
            <div class="col m2 l2 hide-on-small-only"></div>
        </section>

        <section class="row mt-5">
            <div class="col l12 m12 s12 center">
                <h4 class="header" id="top">{{.Problem.NameProblem}}</h4>
            </div>

            <div class="col m2 hide-on-small-only opacity">
                <img src="/img/course-phone.png" class="w-100" alt="kmin" />
            </div>

            <div class="col l8 m8 s12" style="min-height: 80vh;">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col l4 m4 s4">
                                <h4 class="card-title">Độ khó:</h4>
                            </div>
                            <div class="col l8 m8 s8">
                                {{if eq .Problem.Level 1}}
                                <h4 class="card-title cyan-text text-accent-4">Dễ</h4>
                                {{end}} {{if eq .Problem.Level 2}}
                                <h4 class="card-title green-text darken-4">Bình thường</h4>
                                {{end}} {{if eq .Problem.Level 3}}
                                <h4 class="card-title orange-text darken-4">Khó</h4>
                                {{end}} {{if eq .Problem.Level 4}}
                                <h4 class="card-title red-text darken-4">Cực khó</h4>
                                {{end}}
                            </div>
                        </div>
                        <h4 class="card-title">Vấn đề cần giải quyết</h4>
                        <div id="problem-need-to-be-solve" class="word-wrap-problem">
                            <script>
                                document.getElementById("problem-need-to-be-solve").innerHTML = {{.Problem.ProblemNeedToBeSolve}}
                            </script>
                        </div>

                        {{if .Problem.Description}}
                        <h4 class="card-title">Mô tả chức năng</h4>
                        <div id="problem-description" class="word-wrap-problem">
                            <script>
                                document.getElementById("problem-description").innerHTML = {{.Problem.Description}}
                            </script>
                        </div>
                        {{end}} {{if .Problem.InputFormat}}
                        <h4 class="card-title">Định dạng đầu vào</h4>
                        <div id="problem-input" class="word-wrap-problem">
                            <script>
                                document.getElementById("problem-input").innerHTML = {{.Problem.InputFormat}}
                            </script>
                        </div>
                        {{end}} {{if .Problem.Constraint}}
                        <h4 class="card-title">Những ràng buộc</h4>
                        <div id="problem-constrains" class="word-wrap-problem">
                            <script>
                                document.getElementById("problem-constrains").innerHTML = {{.Problem.Constraint}}
                            </script>
                        </div>
                        {{end}} {{if .Problem.OutPutFormat}}
                        <h4 class="card-title">Định dạng đầu ra</h4>
                        <div id="problem-output" class="word-wrap-problem">
                            <script>
                                document.getElementById("problem-output").innerHTML = {{.Problem.OutPutFormat}}
                            </script>
                        </div>
                        {{end}} {{if .Problem.InputsOutputsFormat}}
                        <div></div>
                        {{range $index, $value := .Problem.InputsOutputsFormat}}
                        <h4 class="card-title">Đầu vào mẫu {{$index}}</h4>
                        <pre class="w-100 code-screen grey lighten-3">
                            {{if $value.SampleInput}}
                            <code class="left">{{$value.SampleInput}}</code>
                            {{end}}
                        </pre>
                        <h4 class="card-title">Đầu ra mẫu {{$index}}</h4>
                        <pre class="w-100 code-screen grey lighten-3">
                            {{if $value.SampleOutput}}
                            <code class="left">{{$value.SampleOutput}}</code>
                            {{end}}
                        </pre>
                        {{end}} {{end}}
                    </div>
                    {{if .NextProblem}}
                    <div class="card-content center">
                        <button data-hover="Xem hướng dẫn" class="btn-detail-challenge black-text m-3" id="need-help">
                            <div>
                                Phao Cứu Trợ
                            </div>
                        </button>
                        <button
                            onclick="location.href = '/detail_problem?id={{.NextProblem}}&id_topic={{.IDTopic}}&id_challenge={{.IDChallenge}}&name_topic={{.NameTopic}}&name_challenge={{.NameChallenge}}';"
                            data-hover=">>>"
                            class="btn-detail-challenge black-text m-3"
                        >
                            <div>
                                Bài tập kế tiếp
                            </div>
                        </button>
                    </div>
                    {{else}}
                    <div class="card-content center">
                        <button data-hover="Xem hướng dẫn" class="btn-detail-challenge black-text" id="need-help">
                            <div>
                                Phao Cứu Trợ
                            </div>
                        </button>
                    </div>
                    {{end}}
                </div>
            </div>

            <div class="col l2 m2 hide-on-small-only opacity">
                <img src="/img/course-goal.png" class="w-100" alt="kmin" />
            </div>

            <div id="modal1" class="modal video-popup" style="overflow: hidden !important;">
                <div class="modal-content scroll-content">
                    <div class="p-5 scroll-content-fixed">
                        <h5 class="left">Cách giải quyết vấn đề</h5>
                        <button class="modal-close btn-floating btn-small red btn-flat">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <div class="row scroll-content-scroll">
                        <div class="col l8 m8 s12">
                            <div class="owl-carousel">
                                {{range .Problem.LinkYoutubes}}
                                <div class="video-container">
                                    {{.Link}}
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <div class="col l4 m4 s12">
                            <h5 class="card-title">Vấn đề cần giải quyết</h5>
                            <div id="problem-solve" class="word-wrap-problem">
                                <script>
                                    document.getElementById("problem-solve").innerHTML = {{.Problem.ProblemNeedToBeSolve}}
                                </script>
                            </div>
                            <h5 class="card-title">Mô tả chức năng</h5>
                            <div id="description" class="word-wrap-problem">
                                <script>
                                    document.getElementById("description").innerHTML = {{.Problem.Description}}
                                </script>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div>
                                        <h5 class="card-title">Phản hồi bài giảng</h5>
                                        <p>
                                            <label>
                                                <input
                                                    class="with-gap"
                                                    name="understanding"
                                                    value="0"
                                                    type="radio"
                                                    checked
                                                />
                                                <span>Chưa hiểu</span>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input class="with-gap" name="understanding" value="1" type="radio" />
                                                <span>Tạm hiểu</span>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input class="with-gap" name="understanding" value="2" type="radio" />
                                                <span>Rất hiều</span>
                                            </label>
                                        </p>
                                        <h5 class="card-title">Bình luận về bài giảng</h5>
                                        <div class="input-field mt-3">
                                            <textarea
                                                rows="4"
                                                id="comment"
                                                class="materialize-textarea"
                                                name="comment"
                                            ></textarea>
                                            <label for="comment">Để lại thắc mắc hoặc góp ý của bạn</label>
                                        </div>
                                        <button
                                            class="btn waves-effect"
                                            id="submit-feedback"
                                            id-problem="{{.Problem.ID}}"
                                        >
                                            Gửi phản hồi
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="page-footer black">
            <div class="footer-copyright">
                <div class="container center">
                    <span>© 2019 </span>
                    <a href="https://www.kmin.edu.vn/" class="grey-text text-color-one-dev center"
                        >Học viện khoa học máy tính Kmin</a
                    >
                    |
                    <a class="grey-text text-color-five-dev center" href="/about">Nhóm phát triển</a>
                </div>
            </div>
        </footer>

        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="/js/navbar.js"></script>
        <script src="/js/loadingpage.js"></script>
        <script src="/js/detail.js"></script>
    </body>
</html>
