<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="author" content="Vũ Đình Bảo, Nguyễn Phi Khanh, Phạm Văn Tốt" />
        <meta
            name="keywords"
            content="find solution for problems, hitcan, hit challenge, kmin hitcan, kmin, Kmin, kmin.edu.vn, Cao Thang, Cao Thắng, code, lập trình, bài tập lập trình, hitcan kmin, học lập trình,học viện, máy tính, kmin, front-end, frontend, back-end, backend, mobile, học lập trình, học, lập trình, trung tâm, học viện kmin, hoc vien kmin, hoc vien khoa hoc may tinh, hoc lap trinh, lap trinh, viec lam, cv, thuc tap"
        />
        <meta
            name="description"
            content="Find Solution for Problems đưa ra các bài tập và hướng dẫn giải bài tập trực tuyến thông qua các bài giảng youtube"
        />
        <meta name="copyright" content="Kmin" />
        <meta name="distribution" content="Global" />
        <meta name="robots" content="index,flollow" />
        <meta name="revisit-after" content="3 days" />
        <link rel="canonical" href="http://hit.kmin.edu.vn/profile" />
        <meta property="og:title" content="Kmin Hit Challange | Tìm giải pháp cho các bài toán" />
        <meta
            property="og:description"
            content="Kmin Hit Challange đưa ra các bài tập và hướng dẫn giải bài tập trực tuyến thông qua các bài giảng youtube"
        />
        <meta property="og:locale" content="vi_VN" />
        <meta property="og:site_name" content="Kmin Hit Challenge" />
        <meta property="og:url" content="http://hit.kmin.edu.vn/profile" />
        <meta property="og:image" content="http://hit.kmin.edu.vn/avatar/{{.URLAvatar}}" />
        <meta property="og:udpated_time" content="2020/01/12 00:00:00" />
        <meta property="article:modified_time" content="2020/01/12 00:00:00" />
        <meta property="article:published_time" content="2020/01/12 00:00:00" />
        <meta name="google-site-verification" content="zoG4Ut5Sey3Z-AiKAWoi6N86blPF2CvsL0wSKY1i9kA" />
        <!-- I love cat! Meow Meow #Nguyen Phi Khanh -->
        <title>Hit Challenge | Profile | {{.Name}}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/init.css" />
        <link rel="stylesheet" href="/css/profile.css" />
        <link rel="stylesheet" href="node_modules/cropperjs/dist/cropper.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    </head>
    <!-- code này được viết bới Khanh đẹp trai, Tốt xấu trai và lên kế hoạch bởi Vũ Đình Bảo -->
    <!-- this code was coding by Khanh handsome, Tot ugly and planned by Vu Dinh Bao -->
    <body class="background-body">
        <div class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>

        <header class="navbar-fixed fixed">
            <nav>
                <div class="nav-wrapper white z-depth-3">
                    <a href="http://hit.kmin.edu.vn/" class="brand-logo logo-dev">
                        <img src="/img/logo_kmin.png" class="logo-navbar-dev" alt="kmin-edu-vn" />
                    </a>
                    <a href="#" data-target="mobile-site" class="sidenav-trigger"
                        ><i class="material-icons black-text">menu</i></a
                    >
                    <ul class="right hide-on-med-and-down">
                        <li id="home">
                            <a href="/" class="black-text"><i class="fas fa-home"></i> Trang chủ</a>
                        </li>
                        <li id="info">
                            <a href="/about" class="black-text"><i class="fas fa-info"></i>Giới thiệu</a>
                        </li>
                        <li id="registration">
                            <a href="#" class="black-text dropdown-trigger" data-target="dropdown1">
                                <i class="fas fa-user-circle"></i>tài khoản</a
                            >
                        </li>
                        <li id="write">
                            <a href="/course" class="black-text"><i class="far fa-newspaper"></i>Lớp học</a>
                        </li>
                        <li id="book">
                            <a href="https://www.kmin.edu.vn/doc" class="black-text"
                                ><i class="fas fa-book"></i>Tài liệu</a
                            >
                        </li>
                        <li id="even">
                            <a href="https://www.kmin.edu.vn/news/category?category=Mg%3d%3d&page=1" class="black-text"
                                ><i class="fas fa-calendar-alt"></i>Sự kiện</a
                            >
                        </li>
                    </ul>
                </div>
            </nav>
            <ul id="dropdown1" class="dropdown-content dropdown-top-nav center-align">
                {{if .URLAvatar}}
                <img src="{{.URLAvatar}}" id="avatar-navbar" class="circle responsive-img w-25" alt="" />
                {{else}}
                <img src="/img/no-user.jpg" id="avatar-navbar" class="circle responsive-img w-25" alt="" />
                {{end}}

                <li class="drop-hover">
                    <a href="/profile" class="text-drop">Thông tin cá nhân</a>
                </li>
                <li class="drop-hover">
                    <a href="#!" id="logout" croppie cut more class="text-drop">Đăng xuất</a>
                </li>
            </ul>
            <ul class="sidenav" id="mobile-site">
                <li>
                    <a href="/" class="black-text"><i class="fas fa-home text-color-primary"></i> Trang chủ</a>
                </li>
                <li>
                    <a href="/about" class="black-text"><i class="fas fa-info text-color-primary"></i> Giới thiệu</a>
                </li>
                <li>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header collapse-dev">
                                <i class="fas fa-user-circle text-color-primary icon-account"></i>
                                tài khoản
                                <i class="material-icons">arrow_drop_down</i>
                            </div>
                            <div class="collapsible-body">
                                <ul>
                                    <div class="left-align w-50" style="margin-left: 50px; padding-top: 10px;">
                                        {{if .URLAvatar}}
                                        <img
                                            src="{{.URLAvatar}}"
                                            id="avatar-sidebar"
                                            class="circle responsive-img w-25"
                                            alt=""
                                        />
                                        {{else}}
                                        <img
                                            src="/img/no-user.jpg"
                                            id="avatar-sidebar"
                                            class="circle responsive-img w-25"
                                            alt=""
                                        />
                                        {{end}}
                                    </div>
                                    <li>
                                        <a href="/profile" class="collapsible-login">Thông tin cá nhân</a>
                                    </li>
                                    <li>
                                        <a href="#" id="logout-side" class="collapsible-login">Đăng xuất</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/course" class="black-text"><i class="far fa-newspaper text-color-primary"></i> Lớp học</a>
                </li>
                <li>
                    <a href="https://www.kmin.edu.vn/doc" class="black-text"
                        ><i class="fas fa-book text-color-primary"></i> Tài liệu</a
                    >
                </li>
                <li>
                    <a href="https://www.kmin.edu.vn/news/category?category=Mg%3d%3d&page=1" class="black-text"
                        ><i class="fas fa-calendar-alt text-color-primary"></i>Sự kiện</a
                    >
                </li>
            </ul>
        </header>

        <section class="container full-min-height mt-5">
            <div class="row">
                <div class="col s12">
                    <hr />
                    <div class="row">
                        <div class="col l4 m12 s12">
                            <h4 class="bold">Avatar</h4>
                            <p>bạn có thể thay đổi avatar ở đây hoặc gỡ bỏ nó đi</p>
                        </div>
                        <div class="col l2 m4 s7">
                            {{if .URLAvatar}}
                            <img id="avatar-image" class="circle responsive-img materialboxed" src="{{.URLAvatar}}" />
                            {{else}}
                            <img id="avatar-image" class="circle responsive-img materialboxed" src="/img/no-user.jpg" />
                            {{end}}
                        </div>
                        <div class="col l6 m8 s12">
                            <div class="row">
                                <div class="col s12">
                                    <h6 class="bold">Tải avatar của bạn lên đây</h6>
                                </div>
                                <div class="col s6">
                                    <div class="file-field input-field">
                                        <div class="btn green">
                                            <span>File ... </span>
                                            <input type="file" id="avatar-file" accept="image/*" />
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <button id="delete-avatar" class="waves-effect waves-light btn red">
                                        Gỡ avatar
                                    </button>
                                </div>
                                <div id="edit-avatar-popup" class="modal modal-fixed-footer max-width-device">
                                    <div class="modal-content">
                                        <h4>Chỉnh sửa avatar của bạn</h4>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col s12" id="preview">
                                                    <img
                                                        src="/img/ChiThu6.jpeg"
                                                        id="img-preview"
                                                        class="responsive-img w-100 h-100"
                                                        alt=""
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                            id="cut-and-save-avatar"
                                            class="waves-effect waves-green btn-flat green white-text"
                                        >
                                            Lưu
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col l4 m12 s12">
                            <h4 class="bold">Thông tin cá nhân</h4>
                            <p>Thông tin này sẽ xuất hiện trên hồ sơ của bạn</p>
                        </div>
                        <div class="col l8 m12 s12">
                            <div class="row">
                                <div class="input-field col l7 m9 s12">
                                    <input id="name" type="text" class="validate" value="{{.Name}}" />
                                    <label for="name">Họ tên của bạn</label>
                                    <span class="helper-text" data-error="wrong"></span>
                                </div>
                                <div class="input-field col l7 m9 s12">
                                    {{if or .GoogleID (and .FacebookID .Email)}}
                                    <input id="email" type="email" class="validate" value="{{.Email}}" disabled />
                                    {{else}}
                                    <input id="email" type="email" class="validate" value="{{.Email}}" />
                                    {{end}}
                                    <label for="email">Email</label>
                                    <span class="helper-text" data-error="wrong"></span>
                                </div>
                                <div class="input-field col l7 m9 s12">
                                    <input id="phone" type="tel" class="validate" value="{{.Phone}}" />
                                    <label for="phone">Telephone</label>
                                    <span class="helper-text" data-error="wrong"></span>
                                </div>
                                <div class="col l7 m9 s12 between mb-5">
                                    <button class="waves-effect waves-light btn green" id="save-profile">
                                        Lưu
                                    </button>
                                </div>
                                {{if or .FacebookID .GoogleID}} {{else}}
                                <div class="input-field col l7 m9 s12">
                                    <input id="old-password" type="password" class="validate" />
                                    <label for="old-password">Password cũ</label>
                                </div>
                                <div class="input-field col l7 m9 s12">
                                    <input id="password" type="password" class="validate" />
                                    <label for="password">Password mới</label>
                                    <span class="helper-text" id="helper-password" data-error="weak password"></span>
                                </div>
                                <div class="input-field col l7 m9 s12">
                                    <input id="confirm-password" type="password" class="validate" />
                                    <label for="confirm-password">Confirm Password</label>
                                    <span
                                        id="helper-confirm"
                                        class="helper-text"
                                        data-error="incorrect password"
                                    ></span>
                                </div>
                                <div class="col l7 m9 s12 between">
                                    <button class="waves-effect waves-light btn green" id="save-password">
                                        Lưu
                                    </button>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                    </div>
                </div>
            </div>
        </section>
        <div id="confirm-signup" class="modal">
            <div class="modal-content center-align">
                <h4>Xác Thực Email</h4>
                <div class="container">
                    <div class="row">
                        <div class="col s12 input-field">
                            <input placeholder="ID Code" id="id-code" type="text" />
                            <label for="id-code">Hãy kiểm tra email và nhập ID Code</label>
                        </div>
                        <div class="col s12">
                            <button id="submit-id-code" class="waves-effect waves-light btn m-1 center">
                                Xác thực
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer black">
            <div class="footer-copyright">
                <div class="container center">
                    <span>© 2019 </span>
                    <a href="https://www.kmin.edu.vn/" class="grey-text text-color-one-dev center"
                        >Học viện khoa học máy tính Kmin</a
                    >
                    |
                    <a class="grey-text text-color-five-dev center" href="/about">Nhóm phát triển</a>
                </div>
            </div>
        </footer>

        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="node_modules/cropperjs/dist/cropper.min.js"></script>
        <script src="/js/navbar.js"></script>
        <script src="/js/loadingpage.js"></script>
        <script src="/js/profile.js"></script>
    </body>
</html>
