@import "./init.scss";

.side-close {
    min-height: 100vh;
    z-index: 1;
    overflow-y: auto;

    .toggle-slide {
        width: 50px;
        position: absolute;
        top: 10px;
        right: -60px;
        z-index: 3;
    }

    transform: translateX(-105%);
    -webkit-transform: translateX(-105%);
    -moz-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    -o-transform: translateX(-105%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.blur {
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba($color: #000000, $alpha: 0.3);
    }
}

.title-class-name {
    font-weight: bold;
    color: #ffffff;
}

.side-open {
    min-height: 100vh;
    z-index: 1;
    overflow-y: auto;

    .toggle-slide {
        width: 50px;
        position: absolute;
        right: -60px;
        top: 10px;
        z-index: 3;
    }

    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

#slide-out {
    width: 350px;
    z-index: 998;
}

.collapse-menu {
    padding-bottom: 70px;

    .collapsible-header {
        padding-left: 35px !important;
    }

    .collapsible-body {
        .sub-menu {
            padding-left: 45px !important;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
    }
}

.not-full {
    min-height: 100vh;
    width: 100vw;
    padding-left: 350px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.full {
    min-height: 100vh;
    width: 100vw;
    padding-left: 0px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

#main {
    .had-container {
        .main-header {
            padding: 0 50px;

            .title {
                margin-left: 75px;
                font-weight: bold;
                font-size: 2rem;

                .sub-title {
                    font-size: 1.7rem;
                    font-weight: initial;
                }
            }
        }
    }
}