$first-color: #ff82bc;
$second-color: #ff9aff;
$third-color: #cd97ff;
$fourth-color: #b899ff;
$fiveth-color: #a9a0ff;
$sixth-color: #9dd3ff;
$seventh-color: #6ed2da;
$eighth-color: #89e2db;


%center-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

%box-shadow-btn {
    -webkit-box-shadow: 1px 8px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 8px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 8px 11px 0px rgba(0, 0, 0, 0.75);
}

%between-height {
    display: flex;
    align-content: space-between;
}

.btn-detail-challenge {
    background: transparent;
    outline: none;
    position: relative;
    border: 2px solid #111;
    padding: 12px 50px;
    overflow: hidden;
    cursor: pointer;

    &:before {
        content: attr(data-hover);
        position: absolute;
        top: 1.1em;
        left: 0;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        opacity: 0;
        transform: translate(-100%, 0);
        transition: all .3s ease-in-out;
    }

    &:hover:before {
        opacity: 1;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }

    &:hover div {
        opacity: 0;
        transform: translate(100%, 0);
        -webkit-transform: translate(100%, 0);
        -moz-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        -o-transform: translate(100%, 0);
    }

    & div {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        transition: all .3s ease-in-out;
    }

    &:focus {
        background: transparent;
    }
}

.code-screen {
    min-height: 100px;
    padding: 20px;
}

.video-popup {
    width: 95%;
    min-height: 90vh;
    top: 5% !important;
}

.sticky {
    position: sticky;
    top: 10%;
}

.around {
    display: flex;
    justify-content: space-around;
}

.word-wrap-problem {
    word-wrap: break-word;
}