@charset "UTF-8";
.btn-challenge:hover {
  -webkit-box-shadow: 1px 8px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 8px 11px 0px rgba(0, 0, 0, 0.75);
}

.btn-hitchallenge {
  background: linear-gradient(to right, #fdc018, #fdff96);
  position: absolute;
  color: #000 !important;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.btn-hitchallenge span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.btn-hitchallenge span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: -2px;
  font-size: 25px;
  font-weight: bold;
  right: -20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn-hitchallenge:hover span {
  padding-right: 25px;
}
.btn-hitchallenge:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-challenge {
  background: linear-gradient(to right, #fdc018, #fdff96);
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.filter {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
}

.mobile-filter-dev {
  position: fixed;
  top: 80%;
  right: 20px;
}

/*# sourceMappingURL=challenge.css.map */
