html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #ffd30e), color-stop(0.72, #ffef0b), color-stop(0.86, #ffd61d));
}

.breadcrumb-nav {
  line-height: 64px;
}
.breadcrumb-nav .breadcrumb:before {
  color: black !important;
}

.scroll-content {
  position: relative;
  overflow: auto;
  max-height: 90vh;
}
.scroll-content .scroll-content-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.scroll-content .scroll-content-scroll {
  overflow-y: auto;
  padding-top: 70px;
  margin: 0;
}

.opacity {
  opacity: 0.5;
}

.font-size-20 {
  font-size: 20px !important;
}

.text-color-one-dev {
  color: #ff82bc !important;
}

.text-color-two-dev {
  color: #ff9aff !important;
}

.text-color-three-dev {
  color: #cd97ff !important;
}

.text-color-four-dev {
  color: #b899ff !important;
}

.text-color-five-dev {
  color: #a9a0ff !important;
}

.text-color-six-dev {
  color: #9dd3ff !important;
}

.text-color-seven-dev {
  color: #6ed2da !important;
}

.text-color-eigh-dev {
  color: #89e2db !important;
}

.text-color-primary {
  color: #fdc018 !important;
}

.p-0 {
  padding: 0 !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

.full-min-height {
  min-height: 100vh !important;
}

.h-100 {
  height: 100% !important;
}

.h-75 {
  height: 75% !important;
}

.h-50 {
  height: 50% !important;
}

.h-25 {
  height: 25% !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 1.3rem !important;
}

.mt-3 {
  margin-top: 1.7rem !important;
}

.mt-4 {
  margin-top: 2.3rem !important;
}

.mt-5 {
  margin-top: 2.7rem !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-3 {
  margin: 1.7rem !important;
}

.mb-5 {
  margin-bottom: 5rem;
}

.m-auto {
  margin: auto;
}

.p-0 {
  padding: 0 !important;
}

.p-5 {
  padding: 2.7rem !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.search-input-dev {
  background: white !important;
  padding-left: 70px !important;
  outline: 15px solid rgba(0, 0, 0, 0.3) !important;
  min-width: 60vw !important;
  max-width: 59vw !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  position: relative;
  z-index: 2;
}

.button-search-dev {
  position: absolute;
  z-index: 3;
  top: 43%;
  left: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.search-dev {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.background-body {
  background: #e7eeef;
}

.background-transparent {
  background: none !important;
}

.non-border {
  border: none !important;
}

.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background-color: #a9a0ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-wrapper .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-wrapper .loader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.overflow-scroll {
  overflow-y: scroll;
}

.min-height-card-dev {
  min-height: 470px !important;
}

.bold {
  font-weight: bold;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.info {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.between {
  display: flex;
  justify-content: space-between;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.toast {
  border-radius: 2px;
  top: 35px;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: keep-all;
  background-color: #eeeeee;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-wrapper {
  white-space: pre-wrap;
}

/*# sourceMappingURL=init.css.map */
